
<!-- main wrapper. -->
<div class="main-wrapper">
  <!-- mockup logo. -->
  <div class="logo-mockup">BIMdb</div>
  <!-- /mockup logo. -->

  <!-- search container. -->
  <div class="search-container">
      <input id="searchInput" class="search-input" type="text" [formControl]="searchInput" [(ngModel)]="inputValue" placeholder="Search by {{searchBy}}...">
      <button *ngIf="searchInput.value" class="reset" (click)="reset()">Reset</button>
  </div>
    <!-- /search container. -->
    <div class="checkbox-container">
      <input type="checkbox" id="year" name="year" (change)="searchBySet($event)">
      <label for="year">Search by Year</label>
      <input class="year-selector" [disabled]="searchBy!=='Year'" type="number" min="1900" max="2099" step="1" [(ngModel)]="releaseYear"/>
    </div>
</div>
<!-- /main wrapper. -->

<!-- no results container. -->
<div *ngIf="ready && !results.length" class="no-results-container">
  NO Matches
</div>
<!-- /no results container. -->

<!-- spinner. -->
<div *ngIf="!ready && !results.length && searching" class="details-loader-container">
  <div  class="details-loader-visible"></div>
</div>
<!-- /spinner. -->


<!-- pagination container. -->
<div *ngIf="ready && results.length && !reloading"  class="pagination-container">
  <button [ngClass]="page==1?'details-button-disabled':'details-button-alt'" (click)="previousPage();">Previous Page</button>
  <span>Page {{page}} of {{page_max}}</span>
  <button [ngClass]="page==page_max?'details-button-disabled':'details-button'" (click)="nextPage();">Next Page</button>
</div>
<!-- /pagination container. -->
  <!-- reloading spinner. -->
  <div *ngIf="reloading" class="details-loader-container">
    <div  class="details-loader-visible"></div>
  </div>
  <!-- /reloading spinner. -->

<!-- results container. -->
<div *ngIf="ready && results.length && !reloading" class="results-container">
  <!-- result cards and details. -->
  <div style="margin-bottom:20px;">
    <div class="result-card" *ngFor="let movie of results; let index=index;">
      <img class="poster" src="{{movie['Poster']}}">
      <div class="header-container">
        <span class="header">Title</span>
        <span class="subheader">{{movie['Title']}}</span>
        <span class="header">Year</span>
        <span class="subheader">{{movie['Year']}}</span>
        <button *ngIf="!movie['Details show']" class="details-button" (click)="getDetails(movie, index)">Show Details</button>
        <button *ngIf="movie['Details show']" class="details-button-alt" (click)="hideDetails(movie)">Hide Details</button>
      </div>
      <div id="{{index}}" [ngClass]="detailsLoader===index?'details-loader-visible':'details-loader-hidden'"></div>
      <div *ngIf="movie['Details'] && movie['Details show']" class="details-container">
          <div class="header">Director</div>
          <div class="subheader">{{movie['Details']['Director']}}</div>
          <div class="header">Actors</div>
          <div class="subheader">{{movie['Details']['Actors']}}</div>
          <div class="header">Plot</div>
          <div class="subheader">{{movie['Details']['Plot']}}</div>
          <div class="header">Rating</div>
          <div class="subheader">{{movie['Details']['imdbRating']}}</div>
      </div>
    </div>
  </div>
  <!-- /result cards and details. -->
</div>
  <!-- /results container. -->
